* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

body {
    font-size: x-large;
}

header {
    padding: 8px;
}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.modal {
    padding: 32px;
    background-color: #f9f9f9;
    border: 2px solid rebeccapurple;
    border-radius: 8px;
}

form {
    min-width: 24vw;
}

.form-input {
    display: flex;
    justify-content: space-between;
    font-size: inherit;
}

.form-submit {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
}

#title,
#priority,
#dueDate,
#description,
#list {
    width: 200px;
    font: inherit;
}

textarea {
    width: 200px;
}

.sidebar {
    padding: 8px;
    min-width: 200px;
}

button {
    padding: 8px;
    font-size: inherit;
    color: rgb(0, 0, 238);
}

.content {
    display: flex;
    min-height: 100vh;
}

.lists {
    flex: 1;
}

.list {
    min-height: 400px;
    width: 400px;
}

.task {
    background-color: rgb(232, 229, 229);
    border: 0.5px solid rebeccapurple;
}

.task-head {
    display: flex;
    justify-content: space-between;
}

.task-head-left {
    display: flex;
}

.task-completed {
    padding: 12px;
    margin-right: 8px;
}

.completed {
    background-color: blue;
}
