* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

body {
    font-size: x-large;
}

header {
    padding: 8px;
    background-color: rgb(232, 229, 229);
    border-bottom: 2px solid rebeccapurple;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.modal {
    opacity: 1;
    padding: 32px;
    background-color: rgb(232, 229, 229);
    border: 2px solid rebeccapurple;
    border-radius: 8px;
}

.list-form {
    width: 200px;
}

.form-input {
    display: flex;
    justify-content: space-between;
    font-size: inherit;
}

.form-submit {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
}

input,
textarea,
select {
    width: 200px;
    padding: 8px;
    font: inherit;
}

label {
    padding-right: 8px;
}

.sidebar {
    background-color: rgb(232, 229, 229);
    border-right: 2px solid rebeccapurple;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin-right: 24px;
}

#create-btn,
#create-list-btn,
#submit {
    width: 200px;
    padding: 8px;
    font-size: inherit;
    color: rgb(0, 0, 238);
}

.content {
    background-color: rgb(217, 217, 248);
    display: flex;
    min-height: 100vh;
}

.lists {
    flex-wrap: wrap;
    flex: 1;
    display: flex;
}

.list {
    margin: 5px;
    height: 400px;
    width: 400px;
    border: 2px solid rebeccapurple;
    background-color: rgb(232, 229, 229);
}

.task {
    --hue: 50; /* default to low urgency (yellow) */
    background-color: hsl(var(--hue), 90%, 85%);
    border: 0.5px solid rebeccapurple;
}

.task-head {
    display: flex;
    justify-content: space-between;
}

.task-head-left {
    display: flex;
}

.task-completed {
    padding: 12px;
    margin-right: 8px;
}

.task-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.task-description {
    flex: 1 1 auto;
    word-break: break-word;
    overflow-wrap: anywhere;
    flex-wrap: wrap;
}

.edit-button {
    align-self: flex-end;
    height: 24px;
    color: rgb(0, 0, 238);
}
.completed {
    background-color: rgb(165, 242, 165);
}

.strikethrough {
    text-decoration: line-through;
}

.hidden {
    display: none;
}
